<!DOCTYPE html>
<html lang='utf-8'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-logo">
          <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
          <h1>Healthly Life</h1>
        </div>
      </div>
    </header>
    <section class="login-section">
      <div class="inner">
        <div class="container">
          <h1>로그인</h1>
          <form action="/auth/login_process" method="POST">
            <div class="mb-3">
              <label for="name-lgn" class="form-label">아이디&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="text" class="login" name="userId">
            </div>
    
            <div class="mb-3">
              <label for="password-lgn" class="form-label">비밀번호</label>
              <input type="password" class="login" name="password">
            </div>
    
            <div class="btnset">
              <button type="submit" class="btn">로그인</button>
              <input type="button" value="회원가입" onclick="javascript:location.href='/auth/register'">
            </div>
          </form>
        </div>
      </div>
    </section>
    <footer>
      <div class="bar"></div>
      <div class="container">
        <h4 class="logo">
          Healthy Life
          <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
        </h4>
        <ul>개발자:&nbsp;
          <li>임채영</li>
          <li>김하예진</li>
          <li>박지은</li>
          <li>이상은</li>
        </ul>
        <ul>
          <li>chae0_0102@naver.com</li>
          <li>bhyj8903@naver.com</li>
          <li>bagj1975@gmail.com</li>
          <li>0204tkddms@naver.com</li>
        </ul>
        <h4 class="address">주소: 부산광역시 부산진구 엄광로 176</h4>
        <h4 class="comment">당신의 건강한 생활을 Healthy Life가 응원합니다</h4>
      </div>
    </footer>
  </body>
</html>