<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/slick.css" />
  <link rel="stylesheet" type="text/css" href="../css/slick-theme.css" />
  <link rel="html" href="layout/header.html">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="../slick.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-logo">
        <a href="/main">
          <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
        </a>
        <a href="/main">
        <h1>Healthly Life</h1>
        </a>
          <% if (userNm) { %>
            <nav class="word-menu">
              <a href="/auth/logout">로그아웃</a>
              <a href="/mypage/record">마이페이지</a>
            </nav>
          <% } else { %>
            <nav class="word-menu">
              <a href="/auth/login">로그인</a>
              <a href="/auth/register">회원가입</a>
            </nav>
          <% } %>
        </script>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="slide">
      <div class="container">
        <div class="text-box">
          <h3>
            '청룡의 해' MZ세대 문화별 건강 주의할 점은?
          </h3>
          <p>
            MZ, 마라탕, 탕후루, 줄서기 문화, 짝다리, 식습관, 당뇨병, 고혈압<br>
            바디프로필, 댄스 챌린지, 헬시 플레저, e스포츠, 요요현상, 일자목증후군
          </p>
        </div>
        <a href="https://www.fnnews.com/news/202401020909268570" target="_blank">
          <button class="event-plus">기사 전체보기</button>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="text-box">
          <h3>
            유통업계 '새해 결심·다짐' 기획전…건강관리 용품 등 인기
          </h3>
          <p>
            닭가슴살, 접이식 실내 자전거<br>
            자기관리, 건강관리, 건강기능식품
          </p>
        </div>
        <a href="https://www.yna.co.kr/view/AKR20240103030800030?input=1195m" target="_blank">
          <button class="event-plus">기사 전체보기</button>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="text-box">
          <h3>
            "2024 건강관리 프로젝트"…'새해에는 운동시작' 기획전
          </h3>
          <p>
            유산소, 요가, 웨이트<br>
            스트레칭템, 홈트 입문템, 홈트 끝판왕
          </p>
        </div>
        <a href="https://www.newsis.com/view/?id=NISX20240103_0002579322&cID=10433&pID=13000" target="_blank">
          <button class="event-plus">기사 전체보기</button>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="text-box">
          <h3>
            관악구, 대사증후군검사·건강관리서비스 무료 제공
          </h3>
          <p>
            복부비만, 고혈압, 당뇨, 이상지질혈증, 성인병<br>
            스트레스, 웁동 분족, 영양 불균형, 5종검사, 인바디 검사
          </p>
        </div>
        <a href="https://www.newsis.com/view/?id=NISX20240103_0002579441&cID=10201&pID=10200" target="_blank">
          <button class="event-plus">기사 전체보기</button>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="text-box">
          <h3>
            갑진년 새해의 값진 소망은 '건강'
          </h3>
          <p>
            뼈&관절 건강, 내분비&심뇌혈관 건강, 췌담도 건강<br>
            퇴행성 관절염, 골다공증, 당뇨, 비만, 고혈압, 췌장, 담낭, 담도
          </p>
        </div>
        <a href="https://www.edaily.co.kr/news/read?newsId=01777766638753784&mediaCodeNo=257&OutLnkChk=Y"
          target="_blank">
          <button class="event-plus">기사 전체보기</button>
        </a>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="text-box">
          <h3>
            "알면서도 실천하기 어렵다" 美의학협회의 새해 건강관리 10계명
          </h3>
          <p>
            1. 신체 활동을 늘려야 한다.<br>
            2. 더 건강하게 식사해야 한다.<br>
            3. 예방접종에 대한 최신 정보를 얻어야 한다.<br>
            4. 예정된 건강검진을 받으러 가야 한다.<br>
            5. 혈압 수치를 알아봐야 한다.<br>
            6. 제2형 당뇨병에 걸릴 위험이 있는지 알아봐야 한다.<br>
            7. 술은 적당히 마셔야한다.<br>
            8. 담배를 끊자.<br>
            9. 처방약을 안전하게 사용하자.<br>
            10. 스트레스를 관리해야 한다.
          </p>
        </div>
        <a href="https://view.asiae.co.kr/article/2024010216123250131" target="_blank">
          <button class="event-plus">기사 전체보기</button>
        </a>
      </div>
    </div>
  </div>
  <section class="main-content">
    <div class="inner">
      <div class="title">
        <h3>무슨 운동을 할지 고민이 된다면?</h3>
      </div>
      <ul class="content">
        <li>
          <a href="https://www.youtube.com/watch?v=swRNeYw1JkY" target="_blank">
            <img src="../images/health1.png" alt="health">
            <p>하루 15분! 전신 칼로리 불태우는 다이어트 운동</p>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=n5-Crk5mX-M" target="_blank">
            <img src="../images/health2.png" alt="health">
            <p>1시간 올인원 전신운동🥇 체지방 감소 + 근력 강화 홈트 / 워밍업부터 쿨다운까지 한 영상으로 끝내자!</p>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=3bYEXrnOP08" target="_blank">
            <img src="../images/health3.png" alt="health">
            <p>근력운동 스트레칭을 동시에 할 수 있는 루틴✔ 이 영상 하나로 한번에! l 바디맵핑</p>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=qFLuUFM2x9A" target="_blank">
            <img src="../images/health4.png" alt="health">
            <p>하루 4km 걷기 운동의 기적! 올바른 걷기 운동 (KBS_20210602 방송)</p>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="daily">
    <div class="inner">
      <h3>건강한 생활을 위한 습관</h3>
      <p class="sec-p">하나씩 차근차근 바꿔나가봐요!</p>
      <div class="img-box">
        <div class="box-left">
          <img src="../images/habit1.jpg" alt="habit">
          <img src="../images/habit2.jpg" alt="habit">
          <img src="../images/habit3.jpg" alt="habit">
        </div>
      </div>
    </div>
  </section>
  <section class="product">
    <div class="inner">
      <div class="title">
        <h3>이런 식재료들을 추천해요!</h3>
      </div>
      <ul class="items">
        <li>
          <img src="../images/food1.jpg" alt="slide">
          <p>귀리</p>
        </li>
        <li>
          <img src="../images/food2.jpg" alt="slide">
          <p>계란</p>
        </li>
        <li>
          <img src="../images/food3.jpg" alt="slide">
          <p>베리류</p>
        </li>
        <li>
          <img src="../images/food4.jpg" alt="slide">
          <p>코티지치즈</p>
        </li>
        <li>
          <img src="../images/food6.jpg" alt="slide">
          <p>그릭 요거트</p>
        </li>
        <li>
          <img src="../images/food5.jpg" alt="slide">
          <p>견과류 버터</p>
        </li>
        <li>
          <img src="../images/food7.jpg" alt="slide">
          <p>아보카도</p>
        </li>
        <li>
          <img src="../images/food8.jpg" alt="slide">
          <p>곡물 발아 빵</p>
        </li>
        <li>
          <img src="../images/food9.jpg" alt="slide">
          <p>아마씨</p>
        </li>
        <li>
          <img src="../images/food10.jpg" alt="slide">
          <p>커피</p>
        </li>
        <li>
          <img src="../images/food11.jpg" alt="slide">
          <p>양배추</p>
        </li>
        <li>
          <img src="../images/food12.jpg" alt="slide">
          <p>강황</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="record">
    <div class="inner">
      <div class="title">
        <h3>title</h3>
        <p class="">sub-title</p>
      </div>
      <ul class="images-sec">
        <li>
          <a href="https://www.ytn.co.kr/_ln/0103_202401141913452742" target="_blank">
            <img src="../images/record1.png" alt="record">
          </a>
          <h2>운동도 재미도 만점..."겨울엔 실내운동 즐겨요!"</h2>
          <p>실내를 찾아 땀 흘려 운동한 시민들에게 추위와 스트레스는 찾아보기 어려웠습니다.</p>
        </li>
        <li>
          <a href="https://www.hidoc.co.kr/healthstory/news/C0000853333" target="_blank">
            <img src="../images/record2.jpg" alt="record">
          </a>
          <h2>혈관 건강 지키는 유산소 운동 3</h2>
          <p>혈관은 나이가 들어 노화가 진행되면 탄성을 잃고 느슨해진다.</p>
        </li>
        <li>
          <a href="https://www.joongang.co.kr/article/25221913#home" target="_blank">
            <img src="../images/record3.jpg" alt="record">
          </a>
          <h2>"새해 목표는 몸짱" 무작정 운동계획 짜면 오히려 독</h2>
          <p>특히 주목해야 할 건강 지표는 혈압·혈당·콜레스테롤 수치다.</p>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="bar"></div>
    <div class="container">
      <h4 class="logo">
        Healthy Life
        <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
      </h4>
      <ul>개발자:&nbsp;
        <li>임채영</li>
        <li>김하예진</li>
        <li>박지은</li>
        <li>이상은</li>
      </ul>
      <ul>
        <li>chae0_0102@naver.com</li>
        <li>bhyj8903@naver.com</li>
        <li>bagj1975@gmail.com</li>
        <li>0204tkddms@naver.com</li>
      </ul>
      <h4 class="address">주소: 부산광역시 부산진구 엄광로 176</h4>
      <h4 class="comment">당신의 건강한 생활을 Healthy Life가 응원합니다</h4>
    </div>
  </footer>
</body>
<script>
  $(document).ready(function () {
    $('.main').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000,
      dots: true,
      fade: true,
      arrows: true,
      touchThreshold: 30,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            arrows: false,
          }
        }
      ]
    });
    $('.product .items').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      arrows: true,
      autoplay: true,
      autoplaySpeed: 2000,
      touchThreshold: 30,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            autoplay: false,
            dots: true,
            arrows: false,
            vertical: true,
            verticalSwiping: true
          }
        }
      ]
    });
    $('.daily ul').slick({
      infinite: false,
      slidesToShow: 1,
      dots: false,
      arrows: false,
      touchThreshold: 30
    })
  })
</script>

</html>