body,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
ul,
ol,
dl,
dt,
dd,
p,
button,
figure,
xmp {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

button{
    cursor: pointer;
}

section .inner {
    max-width: 1480px;
    padding: 60px 20px;
    margin: 0 auto;
}

header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 2;
}

header .container {
    max-width: 1540px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container h1{
    color: #FF8B8B;
}

header .container nav {
    position: absolute;
    right: 0;
    padding-right: 100px;
    font-weight: 800;
}

header .container nav a+a{
    padding-left: 15px;
}

header .container .header-logo {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

header .container .header-logo .logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

header .container .right .word-menu {
    margin-left: 45px;
}

header .container .right .word-menu a {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

header .container .right .word-menu a+a {
    margin-left: 15px;
}

.main .slide {
    position: relative;
    padding-top: 64px;
    background-color: #ff8b8b7f;
}


.main .slide .responsive-banner {
    display: none;
}

.main .container {
    height: 600px;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.main .container .text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main .container .text-box h3 {
    font-size: 36px;
    font-weight: 600;
}

.main .container .text-box p {
    font-size: 18px;
    margin-top: 20px;
}

.main .container .event-plus {
    position: absolute;
    bottom: 40px;
    background-color: transparent;
    color: #333;
    padding: 8px;
    border: 2px solid #ff8b8b7f;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}

.main .container .event-plus:hover {
    background-color: #ff8b8b7f;
}

.product {
    margin-top: 48px;
}

.product .title {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.product .title h3 {
    font-size: 28px;
    font-weight: 600;
}

.product .title ul {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product .title li button {
    padding: 6px 16px;
    font-size: 15px;
    color: #999;
    border-radius: 150px;
    border-color: transparent;
}

.product .title li:first-child button {
    color: #999;
    background-color: #F6F6F6;
}

.product .title li:last-child button {
    background-color: #6C801A;
    color: #fff;
    font-weight: 600;
}

.product .items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}


.product .items li img {
    position: relative;
    width: 224px;
    height: 250px;
}

.product .items dl {
    margin-top: 15px;
}

.product .items dl dt {
    font-size: 15px;
    color: #333;
    font-weight: 300;
    margin-bottom: 10px;
}

.product .items dl dd {
    font-size: 18px;
    font-weight: 600;
}

.product .items dl .sale-price {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
    display: inline-block;
    text-decoration: line-through;
}

.product .items dl .per {
    font-size: 18px;
    font-weight: 600;
    color: #6C801A;
    margin-left: 5px;
    display: inline-block;
}

.product .items span {
    font-style: normal;
    background-color: #A89079;
    padding: 2px 6px;
    color: #fff;
    font-weight: 700;
    display: block;
    width: fit-content;
    margin-top: 40px;
    font-size: 14px;
    height: 100%;
}

.product .more-btn {
    margin-top: 60px;
    text-align: center;
}

.product .more-btn button {
    padding: 13px 66px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #666;
    background-color: #fff;
}

.main-content{
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content .title{
    padding-bottom: 20px;
}

.main-content .content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.daily {
    padding-top: 44px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}

.daily h3 {
    margin-bottom: 14px;
}

.sec-p {
    font-size: 16px;
    color: #999;
}

.daily p {
    margin-bottom: 24px;
}

.daily .img-box .more {
    display: none;
}

.daily ul {
    display: none;
}

.daily .img-box .box-left {
    display: flex;
    justify-content: space-between;
}
.daily .img-box .box-left img{
    width: 400px;
    height: 400px;
}

.daily .img-box .box-right {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.record {
    padding-top: 60px;
    border-top: 1px solid #eee;
}

section .inner h3 {
    font-size: 28px;
    font-weight: 600;
}

.record .title p {
    margin-top: 5px;
}

.record .images-sec {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.record .images-sec img{
    width: 450px;
    height: 350px;
}

.record .images-sec li {
    width: calc((100% - 80px)/3);
}

.record .images-sec li h2 {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 600;
}

.record .images-sec li p {
    font-size: 14px;
    margin-top: 5px;
    color: #666;
}

.record .tea-more {
    max-width: 1480px;
    margin: 0 auto;
    text-align: center;
}

.record .tea-more button {
    padding: 12px 60px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #666;
    background-color: #fff;
}

.slick-track {
    overflow: hidden;
}

.daily .slick-track {
    width: 3000px;
}

.slick-vertical .slick-slide {
    overflow: hidden;
}

.notice-slide .slick-vertical {
    width: calc(100% - 105px);
}

.product .items .slick-dots {
    bottom: 0;
    width: 100px;
    align-items: center;
    position: unset;
    margin: 0 auto;
}

.product .items .slick-dots li {
    width: 10px;
    height: 10px;
    color: #000;
    margin-left: 5px;
}

.product .items .slick-dots li button:before {
    width: 6px;
    height: 6px;
    padding: 0;
    border: 0;
    content: 'â—';
}

.product .items .slick-list {
    height: 330px;
}

/* mypage1.html */
.menu {
    position: fixed;
    z-index: 1;
    background-color: #faafaffb;
    width: 100%;
    height: 105px;
    padding-top: 64px;
}

.menu .show-menu{
    display: flex;
    position: absolute;
    right: 150px;
    /* padding-top: 9px;
    padding-right: 16px; */
    gap: 55px;
}

.menu .show-menu .dropdown-menu{
    position: absolute;
    top: 41px;
    display: none;
    background-color: #faafaffb;
}

.menu .show-menu .dropdown-menu li{
    padding: 7px;
}

.menu .first-menu, .menu .last-menu,
.menu .first-menu a, .menu .last-menu a{
    padding: 8px;
}

.menu .last-menu{
    padding-right: 32px;
}

.menu .first-menu:hover .dropdown-menu,
.menu .last-menu:hover .dropdown-menu,
.menu .dropdown-menu:hover .dropdown-menu{
    display: block;
}

.menu .first-menu> a,
.menu .last-menu> a{
    font-weight: 800;
}

.menu .dropdown-menu a:hover,
.menu .first-menu a:hover,
.menu li .active{
    color: #fff;
}

.recorder{
    padding-top: 105px;
}
.recorder .inner{
    display: flex;
    justify-content: space-between;
}

.recorder .title{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.recorder .title .eating{
    width: 35px; 
    height: 30px;
}

.recorder .eat img{
    width: 400px;
    height: 400px;
}

.recorder .eat{
    border: 2px solid #ff8b8bd9;
}

.recorder .left-content{
    width: 700px;
    position: relative;
    left: 0;
}

.recorder .left-content button,
.recorder .right-content button{
    background-color: #ff8b8bd9;
    border: 1px solid plum;
    padding: 3px 5px;
    border-radius: 10px;
}
.recorder .left-content button:hover,
.recorder .right-content button:hover{
    background-color: plum;
}
.recorder .right-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.recorder .right-content{
    width: 700px;
    position: relative;
    right: 0;
    border: 2px solid #ff8b8bd9;
    padding: 25px;
}
.recorder .right-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.recorder .right-content{
    width: 700px;
    position: relative;
    right: 0;
    border: 2px solid #ff8b8bd9;
    padding: 25px;
}
.recorder .eat li+li{
    border-top: 2px dotted #ff8b8bd9;
}
.recorder .eat li{
    height: 372.5px;
    padding: 20px;
    position: relative;
}
.recorder .eat li img{
    margin-left: 7px;
}
.recorder .eat select,
.recorder .eat .eat-menu{
    width: 250px;
    height: 25px;
    border: 1px solid #ff8b8bd9;
    font-size: 14px;
}
.recorder .eat li .fileupload{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.recorder .eat .sun,
.recorder .eat .dinner{
    width: 30px;
    height: 30px;
}
.recorder .eat .lunch{
    width: 50px; 
    height: 35px;
}

.recorder .eat-btn{
    display: flex;
    position: absolute;
    right: 25px;
    gap: 10px;
    bottom: 0;
}

.recorder .eat .dropdown,
.recorder .eat .input {
    position: relative;
    padding-top: 10px;
}
.recorder .eat .dropdown .eat-menu{
    width: 200px;
}
.recorder .eat .dropdown form{
    display: inline-block;
}
.recorder .eat .dropdown form>button{
    margin-right: 10px;
}

.recorder h3{
    display: inline-block;
}

.right > h3:first-child{
    padding-top: 0!important;
}

.recorder .right h3{
    padding: 20px 0 20px 0;
}
.recorder .weight{
    position: relative;
    width: 100%;
    display: flex;
    gap: 150px;
}
.recorder .input-weight{
    position: absolute;
    top: 108px;
    left: 141px;
    width: 70px;
    height: 35px;
    font-size: 27px;
}
.recorder .input-tall{
    position: absolute;
    width: 77px;
    height: 38px;
    top: 82px;
    right: 187px;
    font-size: 23px;
}

.recorder .weight .kg{
    position: relative;
    top: 50px;
    width: 300px;
    height: 250px;
}
.recorder .weight .cm{
    position: relative;
}

.recorder .water img{
    width: 50px;
    height: 50px;
}

.recorder .walk{
    position: relative;
    left: 50px;
}
.recorder .water input,
.recorder .walk input{
    font-size: 16px;
    padding: 3px;
    width: 500px;
}
/* mypageWeight.html */
.chart{
    padding-top: 105px;
}
.chart h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #333;
    border: 2px dotted #ff8b8bd9;
}
.chart .content h3{
    padding-top: 50px;
}
.chart .explain p{
    font-size: 18px;
}
.chart .explain h5{
    font-size: 23px;
}
.chart .explain p span{
    font-weight: 700;
    font-size: 20px;
    color: #fa6868d9;
}
.chart canvas{
    padding-top: 30px;
}
/* login.html */
.login-section{
    padding-top: 64px;
    background-color: #ffa6a6;
    height: 100vh;
}
.login-section .inner{
    padding: 150px 20px;
}
.login-section .container,
.login-section .container-register{
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 60px 70px 60px;
    background: #fff;
    border-radius: 20px;
}
.login-section h1{
    text-align: center;
    font-size: 45px;
}
.login-section form{
    padding-top: 30px;
    font-size: 20px;
}
.login-section .container .mb-3{
    padding-top: 30px;
}
.login-section .container .mb-3 input{
    height: 40px;
    width: 401px;
}
.login-section .btnset{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.login-section .btnset .btn{
    width: 315px;
}
.login-section .btnset input{
    width: 130px;
    margin-left: 45px;
    cursor: pointer;
}
.login-section .btnset .btn,
.login-section .btnset input,
.login-section .container-register button{
    background-color: #ffa6a6;
    height: 50px;
    border-radius: 10px;
    border: 2px solid plum;
    font-size: 20px;
    font-style: bold;
}
.login-section .btnset .btn:hover,
.login-section .btnset input:hover,
.login-section .container-register button:hover{
    background-color: plum;
}
.login-section .container-register table{
    width: 100%;
}
.login-section .container-register tr{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.login-section .container-register input{
    height: 40px;
    width: 335px;
}
.login-section .container-register button{
    margin-top: 50px;
    width: 478px;
}
/* mypage3.html */
.chart .calc,
.chart .explain .showcalc{
    background-color: #F8F8F8;
    padding: 30px;
}
.chart .calc h5{
    text-align: center;
    padding-bottom: 30px;
}
.chart .calc ul{
    display: flex;
}
.chart .calc table{
    border-collapse: collapse;
}
.chart .calc table input[type='text']{
    height: 30px;
}
.chart .calc table tr{
    height: 50px;
    width: 300px;
}

.chart .calc table th,
.chart .calc table td{
    padding: 0 70px;
}
.chart .calc table th{
    padding: 0 40px;
    background-color: #FAB0B0;
    text-align: center;
}
.chart .calc .calcBtn{
    padding-left: 50px;
}
.chart .calc button{
    position: relative;
    top: 40px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: #FAB0B0;
    border: none;
}
.chart .calc .calcResult{
    display: flex;
    padding-left: 70px;
}
.chart .calc .calcResult p{
    font-style: normal;
    font-size: 15px;
    padding-left: 20px;
}
.chart .calc .calcResult span{
    color: #FF8B8B;
    font-weight: 700;
}
/* water.html */
.chart .explain .showcalc h1{
    border: none;
}
.chart .explain .showcalc h1 span{
    color: #6ed5e9;
}
.chart .explain .showcalc .data{
    background-color: #EEEEEE;
    padding: 60px 20px;
    width: 425px;
    height: 240px;
}
.chart .explain .showcalc h4,
.chart .explain .showcalc h5{
    text-align: center;
}
.chart .explain .showcalc ul{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 0px;
}
.chart .explain .showcalc img{
    width: 425px;
    height: 240px;
}
/* mypage5.html */
.chart .explain .walk{
    background-color: #F8F8F8;
    padding: 30px;
}
.chart .explain .walk h3{
    text-align: center;
    font-weight: 500;
    padding: 20px 0px;
}
.chart .explain .walk h3 span{
    font-weight: 700;
    color: #FF8B8B;
}
.chart .explain .walk img{
    padding: 0px 225px;
}

/* footer.html */
footer{
    background-color: #fff;
}
footer .container{
    max-width: 1540px;
    padding: 30px 0px;
    margin: 0 auto;
    display: table;
}
footer .container .logo{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
footer .container .address{
    padding-top: 5px;
}
footer .container .comment{
    font-weight: 600;
    color: #ff8b8bd9;
}
footer .container img{
    width: 25px;
    height: 25px;
}
footer .container ul{
    display: flex;
}
footer .container ul li{
    padding: 0px 5px;
};
footer .container ul li:first-child{
    padding-left: 0;
}
footer .container ul li+li{
    border-left: 1px solid #000;
}
footer .bar{
    background-color: #faafaffb;
    height: 30px;
}